* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

button#toggle-table-button {
    display: block;
    margin-bottom: 1rem;
}

table#build {
    border-collapse: collapse;
}

table#build td,
table#build th {
    padding: 0.25rem 0.5rem;

    border: 1px solid black;
}

table#build tr:nth-child(odd) {
    background-color: lightgrey;
}

svg {
    width: 800px;
    height: 400px;
    margin-bottom: 2rem;
}

svg text {
    font-size: 8px;
    font-family: 'Courier New', Courier, monospace;
}

svg path,
line {
    fill: none;
    stroke: #333333;
    width: 1px;
}